@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: 
    linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    url('/bg.png') no-repeat center center fixed;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* src/app/globals.css */
@font-face {
  font-family: 'Black Mango';
  src: url('/fonts/black-mango-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton-regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Antonio';
  src: url('/fonts/Antonio.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pages Grotesque';
  src: url('/fonts/pages-grotesque-demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Magnate';
  src: url('/fonts/magnate.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
